[submodule "test_phidget"]
	path = programmation/embedded_program
	url = https://github.com/VictorBeaulieu/test_phidget.git
[submodule "test_copy"]
	path = programmation/copying_program
	url = https://github.com/VictorBeaulieu/test_copy.git
